<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
  <a routerLink="/">Home</a>
  <a [routerLink]="['profile']">Profile</a>
</div>
<router-outlet></router-outlet>


<button (click)="isEditMode = !isEditMode">Toggle edit mode</button>

<div *ngIf="isEditMode; else nonEditMode">
  <input type="text" [value]="title" (change)="updateTitle($event.target.value)">
</div>

<ng-template #nonEditMode>
  <p>nonEditMode</p>
</ng-template>

<ul>
  <li *ngFor="let p of posts">{{p}}</li>
</ul>

<pre>
  {{user | json}}
</pre>

<div>
  <h3>{{user.name}}</h3>
  <p>
    {{user.joinDate | date:'MM/d/yy, h:mm a'}}
  </p>
</div>

<tpc-mform></tpc-mform>


<div>
  <input type="text" #input (change)="search(input.value)"><br>
  <h3>Result:</h3>
  <div *ngFor="let account of (accounts | async)">
    {{ account.login }}
  </div>
</div>
